accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dill
filelock
frozenlist
fsspec
gitdb
GitPython
h11
hf-xet
httpcore
httptools
httpx
huggingface_hub
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
narwhals
networkx
numpy
packaging
pandas
peft
pillow
propcache
protobuf
psutil
pyarrow
pydeck
Pygments
python-dateutil
python-multipart
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
sentencepiece
shellinghem
six
smmap
starlette
streamlit
sympy
tenacity
tokenizers
toml
torch
torchvision
tqdm
transformers>=4.53.1,<4.58.0
typer
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
xxhash
yarl
colpali-engine>=0.3.13,<0.3.14
groq
python-dotenv
scikit-learn
